body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
  }
  .status {
    /* avoid an excessively wide status text */
    position: relative;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    height: auto;
  }

  .title {
    position: relative;
    top:-2em;
    left: .5em;
  }